* {
    /* Свойства для сброса начальных стилей элементов */
}

body {

}

header {
    width: 1440px;
    height: 70px;
    background-color: blue;
    /* Стили для хедера */
}

header span {
    width:146px;
    height: 24px;
    top:23px;
    color: #ffff;
    
    /* Стили для текста в хедере IT-INCUBATOR */
}

.main-section {
    /* Стили для первой секции */
}

.main-title {
    /* Стили для заголовка в первой секции */
}

.main-text {
    /* Стили для текста в первой секции */
}

.main-image {
    width:715px;
    height:508px;
    top:230px
    /* Стили для изображения в первой секции */
}


.about-section {
    /* Стили для второй секции */
}

select {
    width: 150px;
    height: 36px;
    top: 1194px;
   border: 1px;
    /* Стили для выпадающего списка */
}

.section-title {
    /* Стили для заголовков во второй секции */
}

.frameworks-list {
    /* Стили для маркированного списка во второй секции */
}

.books-list {
    /* Стили для нумерованного списка во второй секции */
}

.label {
    /* Стили для подписей чекбоксов */
}

.text-field {
    /* Стили для односточного поля ввода текста */
}

.btn {
    /* Стили для кнопки */
}

.line {
    /* Стили для линии */
}

table {
    /* Стили для таблицы */
}

th, td {
    /* Стили для ячеек таблицы */
}

footer {
    width: 1440px;
    height: 70px;
    top:1977px;
    background-color: #a3a7ff;
    /* Стили для футера */
}

.footer-link {
    width:78px;
    height:17px;
    left: 1px;
    color: #2965f1;
    /* Стили для футера */
}