* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    /* Свойства для сброса начальных стилей элементов */
}

body {
    font-family: 'inter', sans-serif;
    color: #303030;
    ;
}


header {
    width: 1440px;
    height: 70px;
    background-color: #2965f1;
    padding: 26px 0;
    padding-left: 130px;
    /* Стили для хедера */
}

header span {
    font-size:20px;
    font-weight:700px;
    color: rgba(255, 255, 255, 1);
    /* Стили для текста в хедере IT-INCUBATOR */
}

.main-section {
    min-height: 1024px;
    padding:60px 0;
    background-color: rgba(83, 84, 97, 1)
        /* Стили для первой секции */
}

.main-title {
    width: 552px;
    height: 58px;
    margin-top: 130px;
    font-weight: 700px;
    font-size: 48px;
    color: rgba(48, 48, 48, 1)
        /* Стили для заголовка в первой секции */
}

.main-text {
    width: 799px;
    height: 22px;
    margin-top: 208px;
    font-weight: 100px;
    font-size: 18px;
    color: rgba(48, 48, 48, 1);
    margin: 10px;

    /* Стили для текста в первой секции */
}

.main-image {
    max-width:715px;
    
    /* Стили для изображения в первой секции */
}


.about-section {
    width: 1440px;
    height: 883px;
    margin-top: 1094;
    /* Стили для второй секции */
}

select {
    background-repeat: no-repeat;
    padding: 0 20px;
    font-weight: 400px;
    font-size: 16px;

    /* Стили для выпадающего списка */
}

.section-title {
    width: 1440px;
    height: 883px;
    /* Стили для заголовков во второй секции */
}

/* button {
    border: none;
    background-color: transparent;
} */

.frameworks-list {
    font-weight: 700;
    font-size: 24px;
    color: #303030;
    margin-bottom: 50px;
    margin-bottom: 50px;
    /* Стили для маркированного списка во второй секции */
}

.books-list {
    width: 670px;
    height: 57px;
    font-weight: 700;
    font-size: 24px;
    color: #303030;
    background: #fff;
    /* Стили для нумерованного списка во второй секции */
}

.label {
    font-weight: 400px;
    font-size: 16px;
    color: #303030;
    background: #fff;
    width: 475px;
    height: 73px;
    /* Стили для подписей чекбоксов */
}

.text-field {
    font-weight: 400;
    font-size: 16px;
    color: rgba(48, 48, 48, 0.2);
    width: 330px;
    height: 36px;
    /* Стили для односточного поля ввода текста */
}

.btn {
    border: 1px solid black;
    border-radius: 5px;
    width: 125px;
    height: 36px;
    background: #2965f1;
    font-weight: 700;
    font-size: 14px;
    color: #fff;
    font-family: "Inter", sans-serif;
    /* Стили для кнопки */
}

.line {

    border: 1px solid rgba(48, 48, 48, 0.3);
    width: 1440px;
    height: 0px;
    /* Стили для линии */
}

table {
    border: 1px solid rgba(149, 161, 187, 1);
    border-collapse: collapse;
    margin-top: 40px;
    margin-bottom: 80px;
font-weight: 700px;
font-size: 14px;
    /* Стили для таблицы */
}

th,
td {
    padding: 12px 15px;
    width: 113px;
    height: 40px;
    /* Стили для ячеек таблицы */
}

footer {
    width: 1440px;
     height: 70px;
     top:1977px;
     background-color: #a3a7ff;
     background-color:rgba(163, 167, 255, 0.3);
    /* Стили для футера */
}

.footer-link {
    width: 78px;
    height: 17px;
    font-family: 'inter';
    font-weight: 400px;
    font-size: 14px;
    text-decoration-line: none;
    color: rgba(41, 101, 241, 1);
    /* Стили для футера */
}