* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    /* Свойства для сброса начальных стилей элементов */
}

body {
font-family: 'rubik',sans-serif;
}


header {
    width: 1440px;
    height: 70px;
    background-color: blue;
    padding: 14px 0;
    padding-left: 130px;
    /* Стили для хедера */
}

header span {
    font-family: "Inter", sans-serif;
    font-weight: 700;
    font-size: 20px;
    color: #fff;
    /* Стили для текста в хедере IT-INCUBATOR */
}

.main-section {
    width: 1418px;
    height: 1024px;
    padding-top: 60px;
    padding-bottom: 60px;
    background: #fafaff;
    /* Стили для первой секции */
}

.main-title {
    font-weight: 700;
    font-size: 48px;
    color: #303030;
    /* Стили для заголовка в первой секции */
}

.main-text {
    font-weight: 400;
font-size: 18px;
color: #303030;
    /* Стили для текста в первой секции */
}

.main-image {
    width:704px;
    height:508px;
    top:230px
    /* Стили для изображения в первой секции */
}


.about-section {
    width: 1440px;
    height: 883px;
    /* Стили для второй секции */
}

select {
    width: 150px;
    height: 36px;
    /* Стили для выпадающего списка */
}

.section-title {
    /* Стили для заголовков во второй секции */
}
button{
    border: none;
    background-color: transparent;
}
.frameworks-list {
    /* Стили для маркированного списка во второй секции */
}

.books-list {
    /* Стили для нумерованного списка во второй секции */
}

.label {
    /* Стили для подписей чекбоксов */
}

.text-field {
    /* Стили для односточного поля ввода текста */
}

.btn {
    /* Стили для кнопки */
}

.line {
    /* Стили для линии */
}
ul{
    list-style: none;
}
table {
    /* Стили для таблицы */
}

th, td {
    /* Стили для ячеек таблицы */
}

footer {
    width: 1440px;
    height: 70px;
    top:1977px;
    background-color: #a3a7ff;
    /* Стили для футера */
}

.footer-link {
    width:78px;
    height:17px;
    left: 1px;
    color: #2965f1;
    
    /* Стили для футера */
}
a{
    text-decoration:none ;
}